@import "./reset.css";
@import "./components/input.css";
@import "./components/left.css";
@import "./components//Button.css";
@import './components/navigation.css';
@import "./components/right.css";
@import "./components/content.css";
@import "./components/contentright.css";


.main-grid{
    display: grid;
    grid-template-columns: 0.3fr 0.6fr 0.3fr;
    column-gap: 4rem;
}

.left{
    position: relative;
}

.mid{
    max-height: 45rem;
    overflow-x : hidden;
    overflow-y: auto;

}

.mid::-webkit-scrollbar{
    display: none;
}

.right{
    max-height: 45rem;
    overflow-x : hidden;
    overflow-y: auto;
}

.right::-webkit-scrollbar{
    display: none;
}