.content-heading{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.3fr;
    column-gap: 20px;
    margin-top: 5px;
}

.news-img-wrapper{
    width: 551px;
    margin-left: auto;
    margin-right: auto;
}

.newsimg{
    border-radius: 20px;
    height: 335px;
    width: 100%;
}

.post{
    background-color: #e9eaea;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}