.content-heading{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
}

.news-img-wrapper{
    width: 551px;
    margin-left: auto;
    margin-right: auto;
}

.newsimg{
    border-radius: 20px;
    height: 335px;
    width: 100%;
}