.mid-navigation-nav{
    margin-top: 39px;
}

.mid-navigation-nav > ul{
    list-style: none;
    display: grid;
    grid-template-columns: 0.9fr 1.3fr 1fr 1fr;
}

.mid-navigation-nav > ul > li{
    font-size: 20px;
    text-align: center;
}

.mid-navigation-nav > ul > li > a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.mid-navigation-nav > ul > li > a:hover{
    background-color: rgb(178, 178, 178);
    padding: 10px;
    border-radius: 50px;
}