*{
    padding: 0;
    margin: 0;
}

.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
}

.search{
    height: 37px;
    width: 449px;
    border-radius: 56px;
    border-color: #1400FF;
    padding-left: 2rem;
}

h4{
    text-align: center;
}

.output{
    display: flex;
    justify-content: center;
    text-align: left;
}